table thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.box-title {
    font-weight: 600;
}

.main-content_div {
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 75px 40px;
}

.add_btns {
    float: right;
}

.add_btns_color {
    background: #1ae16e;
    border-color: #1ae16e;
    border-radius: 5px;
}

.add_btns_color i {
    margin: 0 10px 0 5px;
}

.add_btns_color:hover {
    background: #1ae16e;
    border-color: #1ae16e;
}

.product_total_number {
    background: white;
    border-radius: 5px;
    padding: 15px;
    margin: 10px auto;
    border: 1px solid #e3e3e3;
}

.product_total_number p {
    font-size: 14px;
    font-weight: 600;
}

.product_total_number h2 {
    margin-top: 15px;
}

.file_inp {
    display: inline-block !important;
}

.fa_cancel_file {
    cursor: pointer;
}

.userfile_label {
    display: block;
}

#ad_type {
    display: block;
}

.ad_banner_category_label {
    display: block;
}

input.error,
textarea.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

label.error {
    color: red;
    display: block;
    margin-top: 5px;
}

.order_prod_srch_res {
    position: absolute;
    z-index: 10;
    width: -moz-available;
    width: -webkit-fill-available;
    margin-right: 10px;
}

.add_order_prod_div {}

.order_srch_each_prod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .order_prod_srch_res {
        width: -webkit-fill-available;
        -webkit-margin-end: 20px !important;
    }
}

#order_add_confirm_loading {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: 1s 0.4s;
}

#edit_loading {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: 1s 0.4s;
}

.add_sort_div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: -30px;
    padding: 0 5px;
}

#add-order-box-div {
    position: relative;
}

.main-header .logo {
    background-color: #0c213a !important;
    padding-left: 10px;
}

.main-header>.navbar {
    background-color: white !important;
}

.wrapper {
    background-color: #0c213a !important;
}

.skin-blue .sidebar-menu>li.header {
    background-color: #0c213a !important;
}

.main-sidebar {
    background-color: #0c213a !important;
}

.sidebar-toggle {
    color: #bdbdbd !important;
    font-size: 22px;
    padding: 16px 25px !important;
}

.sidebar-toggle:hover {
    background-color: white !important;
}

.recipe_badge,
.order_badge {
    position: absolute;
    top: -9px;
    right: -9px;
    background: red;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 24px;
    height: 24px;
    z-index: 1;
}

.navbar-custom-menu {
    display: flex;
}

.navbar-notification_div {
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.navbar-notification_div i {
    font-size: 16px;
}

.navbar-custom-menu .navbar-nav>li>a {
    color: grey !important;
}

.recipe_notification_badge {
    position: absolute;
    top: 14px;
    right: 11px;
    background: red;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 15px;
    height: 15px;
    font-size: 12px;
}

.order_notification_badge {
    position: absolute;
    top: 12px;
    right: 9px;
    background: red;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 18px;
    height: 18px;
    font-size: 12px;
}

.user .dropdown-toggle {
    padding-right: 30px;
    padding-bottom: 17px;
    line-height: 27px;
    padding-top: 19px;
}

.navbar-nav>.user-menu .user-image {
    width: 45px !important;
    height: 45px !important;
    margin-top: -10px;
}

.admin_logo {
    width: 150px;
}

.dropdown-menu .user-header {
    background-color: white;
}

.dropdown-menu .user-header p {
    color: grey;
}

.header_add_order {
    padding: 10px 18px;
    color: white;
    background: #1ae16e;
    margin: 10px;
    border-radius: 5px;
}

.header_add_order:hover {
    color: white;
}

.header_recipe,
.header_order_count {
    padding: 10px 35px;
    border: 1px solid #c5c5c5;
    color: #4e4e4e;
    border-radius: 5px;
    position: relative;
    margin: 10px;
}

.header_recipe img {
    margin-right: 15px;
}

.header_add_order i {
    margin-right: 10px;
}

.header_order_count i {
    margin-right: 10px;
}

.user-panel>.info {
    top: 20px;
}

.import_btn {
    background-color: #29b0ff;
    border-color: #29b0ff;
    border-radius: 5px;
}

.import_btn i {
    margin: 0 10px 0 5px;
}

.import_btn:hover {
    background-color: #29b0ff;
    border-color: #29b0ff;
}

.prod_sort_btn {
    float: right;
    padding: 7px 20px;
    background: #257aff;
    border-color: #257aff;
    align-self: flex-start;
}

.prod_sort_btn:hover {
    background: #257aff;
    border-color: #257aff;
}

.prods_buttons {
    display: flex;
    float: right;
    align-items: flex-start;
}

#import_prods {
    margin: 0 10px;
}

.filter_button {
    cursor: pointer;
    width: max-content;
}

.sort_form_filter_divs {
    display: flex;
    /* justify-content: space-between; */
}

.filter_button {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.filter_button h4 {
    margin: 0 5px 0 2px;
}

.filter_button_arrow_right {
    font-size: 12px;
    margin-top: 3px;
    transition: .3s ease;
}

.product_sort_form_div {
    display: block;
    padding: 0 10px;
    margin-top: 10px;
}

#admin_products_pagination {
    display: flex;
    justify-content: center;
}

#search_prod {
    border-radius: 7px;
}

.each_sort_div {
    width: 170px;
}

.each_sort_div:nth-child(2) {
    margin: 0 15px;
}

.each_sort_div:nth-child(4) {
    width: 184px;
    margin-left: 15px;
}

.each_sort_div select {
    width: 100%;
}

.each_sort_div label {
    display: block;
}

.each_sort_div>span {
    width: inherit !important;
}

#price_sort {
    height: 28px !important;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
}

#export_status_sort {
    height: 28px !important;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
}

.go_to_page_form {
    width: max-content;
    display: flex;
    margin-bottom: 5px;
}

.go_to_page_form input {
    border-radius: 5px;
    margin-right: 10px;
}

.go_to_page_form button {
    background: #86b5b0;
    border-color: #86b5b0;
    border-radius: 5px;
}

.go_to_page_form button:hover {
    background: #86b5b0;
    border-color: #86b5b0;
}

.go_to_page_div {
    float: right;
}

@media(max-width: 620px) {
    .prods_nav_pagination {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#sort_form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 15px 0 5px;
    flex-direction: column;
}

#order_sort_form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 15px 0 5px;
}

#order_date_sort {
    margin: 0 15px;
}

.order_date_sort_icon {
    cursor: pointer;
    margin-left: 10px;
}

#order_excel {
    margin-left: 10px;
}

#order_excel a {
    background: #5579ff;
    border-color: #5579ff;
    width: 95px;
    font-size: 17px;
    padding: 4px;
    border-radius: 5px;
}

#order_excel input:focus {
    background: #5579ff;
    border-color: #5579ff;
}

.cancel_date {
    display: none;
    align-items: center;
    position: absolute;
    right: 75px;
    top: 9px;
    cursor: pointer;
}

.order_date_div {
    position: relative !important;
}

#status_div {
    font-size: 15px;
}

#status_label {
    display: block;
}

.save_user_order_changes {
    margin: 10px 0;
}

#user_order_comment {
    resize: none;
}

.order_status_title_div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.order_status_title_div p strong {
    border-bottom: 1px solid #8e7b7b;
}

@media(max-width: 449px) {
    .order_box_header {
        display: flex;
        flex-direction: column-reverse;
    }

    .prods_buttons {
        float: left;
        margin: 15px 0 -5px;
    }
}

@media(max-width: 677px) {
    #order_sort_form {
        width: max-content;
        flex-direction: column;
    }

    #order_sort_form input[type=submit] {
        align-self: flex-start;
        margin: 10px 5px 0;
    }

    #order_status_list_div {
        flex-direction: column;
    }

    #order_status_list_div select {
        height: 34px;
    }

    #order_status_list_div .order_date_div {
        height: 34px;
        width: 100%;
        margin: 15px 0px;
    }

    #order_date_sort {
        margin: 10px 0 0;
    }

    .order_date_div input {
        width: 100%;
    }
}

#order_status_list_div {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    font-size: 15px;
}

#status_list_select_label {
    display: block;
}

#admin_orders_pagination {
    display: flex;
    justify-content: center;
}

.order_search_div i {
    position: absolute;
    padding: 10px;
    text-align: center;
    color: gray;
}

.order_search_div input {
    height: 34px;
    padding-left: 30px;
    width: 220px;
    border-radius: 5px;
    border: 1px solid #9d9c9c;
}

.order_search_div input:focus {
    outline: none;
}

.order_date_div {
    display: flex;
    margin: 0 15px;
}

.order_date_div input {
    border: 1px solid #9d9c9c;
    border-right-color: rgb(157, 156, 156);
    border-right-style: solid;
    border-right-width: 1px;
    padding: 0 10px;
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    color: #373737;
}

.order_date_div input:focus {
    outline: none;
}

.order_date_div div {
    border: 1px solid #9d9c9c;
    padding: 0 10px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: grey;
    display: flex;
    align-items: center;
}


#main_div {
    display: flex;
    justify-content: center;
}

#confirm_div {
    padding: 20px 20px 50px;
    margin: 25px 0 50px;
    border: 1px solid #c4c1c163;
    border-radius: 5px;
    text-align: center;
}

.fw-600 {
    font-weight: 600;
}

.fs-13 {
    font-size: 13px;
}

.order_nm-date {
    display: flex;
}

.order_nm-date p:nth-child(2) {
    margin-left: 15px;
}

.prods_p {
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 12px;
}

.receipt_prods {
    margin-left: 15px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

.pr_name_span {
    width: 60%;
    white-space: pre-line;
    color: #00c7a5 !important;
}

.total_span {
    text-transform: uppercase;
}

.uo_hr {
    margin: 3px 0;
}

.select2-selection__rendered {
    line-height: 22px !important;
}

.select2-selection__clear {
    height: 21px !important;
}

.blog_title_list * {
    font-size: 16px;
    width: 300px;
}

.hidden {
    display: none;
}

#order_confirm_code_main_div {
    display: flex;
    justify-content: center;
}

#confirm_div_order_add {
    padding: 50px 20px;
    margin: 25px 0 50px;
    border: 1px solid #c4c1c163;
    border-radius: 5px;
    text-align: center;

}

#review_spinner {
    height: 19px;
    width: 19px;
}

#confirm_inp {
    display: block;
}

.confirm_btn {
    font-size: 14px;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#not_found {
    display: none;
    color: red;
}

#success_icon {
    display: block;
    margin: 10px 80px;
    font-size: 70px;
    color: green;
}

@media (max-width: 991px) {
    .navbar-custom-menu .navbar-nav>li>a {
        padding-top: 19px;
        padding-bottom: 17px;
        line-height: 27px;
    }
}

@media (max-width: 767px) {
    .sidebar {
        margin-top: 10px;
    }

    .user .dropdown-toggle {
        padding-bottom: 0 !important;
        padding-right: 15px;
        padding-bottom: 10px !important;
    }

    .navbar-nav>.user-menu .user-image {
        margin-top: -7px;
    }

    .navbar-custom-menu .navbar-nav>li>a {
        padding-top: 15px;
    }
}

@media (max-width: 812px) {
    .header_recipe {
        height: max-content;
        margin: 10px 0;
    }

    .header_btns {
        display: flex;
        margin-top: 66px;
        justify-content: space-between;
        padding: 0 15px;
    }

    .header_add_order {
        margin-left: 0;
    }
}

@media (max-width: 1000px) and (min-width: 410px) {
    .each_sort_div:nth-child(1) {
        float: right;
    }

    .each_sort_div:nth-child(2) {
        margin: 0 0 15px 0;
    }

    .each_sort_div:nth-child(4) {
        margin: 0 0 15px 0;
    }

    .sort_form_filter_divs {
        display: block;
    }
}

@media (max-width: 589px) and (min-width: 410px) {
    .each_sort_div:nth-child(1) {
        float: right;
    }

    .each_sort_div:nth-child(2) {
        margin: 0 0 15px 0;
    }

    .sort_form_filter_divs {
        display: block;
    }
}

@media (max-width: 506px) {
    .header_btns {
        padding: 0 105px;
        flex-direction: column;
    }

    .header_btns a {
        margin: 12px 20px;
        font-size: 12px;
    }

    .header_recipe {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .main-content_div {
        padding-top: 210px;
    }

    .box {
        margin-top: 100px;
    }
}

@media (max-width: 410px) {
    .sort_form_filter_divs {
        flex-direction: column;
    }

    .each_sort_div:nth-child(4) {
        margin: 0 0 15px 0;
    }

    .each_sort_div:nth-child(2) {
        margin: 0 0 15px 0;
    }
}

@media (max-width: 420px) {
    .content {
        margin-top: 60px;
    }

    .header_btns {
        padding: 0 60px;
        flex-direction: column;
    }

    .product_total_number {
        padding: 10px;
    }

    .product_total_number p {
        font-size: 12px;
    }

    .main-content_div {
        padding-top: 150px;
    }

    .main-content_div div {
        width: 100%;
    }

    .product_total_number {
        width: 95%;
    }
}

@media (max-width: 449px) {
    .product_box-header {
        display: flex;
        flex-direction: column-reverse;
    }

    .prods_buttons {
        margin-top: 10px;
    }
}