.DS_Store
1c/
img/
application/cache/*
application/config/database.php/*
application/config/config.php/*
!application/cache/index.html

application/logs/*
!application/logs/index.html
upload_recipe/
user_img/
upload_product/
upload_blog/
upload_banner/
!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
