body {
   min-width: 360px;
   width: auto !important;
   /* Firefox will set width as auto */
   background: #f00 !important;
}

.modal {
   padding-right: 0 !important;
}

@media screen and (min-width: 480px) {
   .srch_inp_header_div {
      padding-bottom: 10px;
   }
}

@media screen and (max-width: 380px) {
   .receipt_prods {
      font-size: 1rem;
   }
}

@media screen and (max-width: 479px) {
   .srch_inp_header_div {
      padding-bottom: 70px !important;
   }
}

.srch_inp_header_div {
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}

.imgs {
   max-height: 204px;
}

.category_imgs {
   max-height: 160px;
}

.similar_prods_imgs {
   max-height: 150px;
}

.prods_sugg_imgs {
   max-height: 174px;
}

.ad_mini_img {
   max-height: 165px;
   width: 100%;
}

.mega-menu__list {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   max-height: 500px;
}

.mega-menu__list > li {
   margin: 0 5px;
}

@media (min-width: 768px) and (max-width: 1199px) {
   .ps-product {
      border-bottom: 1px solid silver !important;
   }
}

@media (max-width: 767px) {
   .ps-product {
      border-bottom: none;
   }
}

.srch_prod_price {
   color: rgb(75, 109, 242);
   text-align: left;
}

.srch_prod_price .ps-product__price {
   position: relative;
   font-size: 18px;
   color: #000;
}

.srch_prod_price .ps-product__price.sale del {
   color: #666;
   font-size: 16px;
}

.slider_img {
   max-height: 353px;
   width: 100%;
}

.prod_img_in_categ_by_list {
   max-width: 210px;
   max-height: 210px;
}

.main_pic_in_prod {
   max-width: 379px;
   max-height: 379px;
}

.header_phone_number {
   width: max-content !important;
   display: flex !important;
   align-items: center;
   color: #00c7a5;
   font-size: 20px;
   flex-direction: column;
}

.header_phone_number > strong {
   width: max-content;
   height: inherit;
   display: flex;
   align-items: center;
}

.header_phone_number > p {
   font-size: 10px;
   width: 100%;
   text-align: end;
   margin: -5px 0px;
   padding-right: 2px;
}

.header_phone_number > strong > i {
   margin-right: 5px;
   font-size: 15px;
   align-items: center;
}

.header_top {
   padding: 4px 0 !important;
}

@media (max-width: 480px) {
   .header_phone_number {
      font-size: 5.5vw;
   }
}

/* HEADER */

.header_span_circle_first {
   height: 20px;
   width: 20px;
   display: inline-block;
   border-radius: 50%;
   background: #4a4ac3;
   margin-right: 10px;
}

.header_span_circle_second {
   height: 20px;
   width: 20px;
   display: inline-block;
   border-radius: 50%;
   background: #62c3b5;
   margin-right: 10px;
}

.navigation .navigation__right {
   padding-left: 55px;
}

.ps-tab {
   -webkit-transition: all 1s ease 0s;
   -moz-transition: all 1s ease 0s;
   -o-transition: all 1s ease 0s;
   transition: all 1s ease 0s;
}
.breadcrumb a {
   color: #4d4dbf !important;
}
.ps-product__price {
   color: #4d4dbf !important;
}

.header_links {
   display: flex;
}

.header_links li a {
   display: flex;
   align-items: center;
}

.header_links li a:hover {
   color: #4d4dbf;
}

.header_percent_icon {
   margin-right: 10px;
   color: #4d4dbf;
}

.header_cart_tot_span {
   background-color: #4a4ac3 !important;
}

#total_count_in_cart_header {
   color: #fff;
}
#total_count_in_cart_header:hover {
   color: #fff;
}

.header_cart_a:hover #total_count_in_cart_header {
   color: #fff;
}

.search_icon_btn {
   background-color: #4a4ac3 !important;
}

.ps-cart__content {
   right: -3px !important;
}

.header__actions {
   justify-content: space-evenly !important;
   float: right !important;
}

.ps-form--quick-search {
   width: 500px !important;
}

.srch-results {
   display: none;
   position: absolute;
   z-index: 10;
   background: white;
   padding: 10px;
   width: 530px;
   border: 1px solid #e1e1e1;
   border-radius: 0 0 4px 4px;
   height: auto;
   margin-left: 39px;
}

.srch_submit_btn {
   z-index: 1040;
   background: #4d4dbf;
}

.srch-res_mob_sidebar {
   overflow-y: scroll !important;
   height: calc(100vh - 180px) !important;
}

.each_prod {
   padding: 10px 0;
}

.prod_pic {
   width: 40px;
   height: inherit;
   display: inline-block;
}

#res-prod-price {
   float: right;
}

.srch-results_mobile {
   padding: 5px 10px;
   font-size: 16px;
   background: white;
   border: 1px solid #e1e1e1;
   border-top: none;
   height: auto;
}

.each_prod_mobile {
   padding: 10px 0;
}

.prod_pic_mobile {
   width: 60px;
   height: inherit;
   display: inline-block;
   margin-right: 10px;
}

.prod_pic_mobile > img {
   height: 60px;
   width: 60px;
}

.srch-results-empty_mobile {
   padding: 10px;
   border-bottom: 1px solid #e1e1e1;
}

.srch_ps-product__content {
   display: flex;
}

.srch_prod_list {
   margin: 10px 0;
}

.prod_pic {
   margin-right: 20px;
}

.prod_pic > img {
   height: 45px;
   width: 45px;
}

.toast_empty,
.toast_not_finished {
   position: fixed;
   z-index: 10002;
   right: 5px;
   top: 10px;
   background: #ee0c0c;
   color: white;
   padding: 5px;
   border-radius: 10px;
   font-size: 14px;
}

.srch_inp_div {
   position: absolute;
   z-index: 1000;
   width: 100%;
   top: 60px;
}

.srch_pr_inp_mobile {
   border: 1px solid #e1e1e1 !important;
}

/* HEADER FINISH */

/* MAIN */

.recipe_sheet_each_div {
   display: flex;
   align-items: center;
   background: orange;
   height: 85px;
}

.recipe_sheet_each_div:first-child {
   padding-left: 20px;
}

.recipe_sheet_each_div:last-child {
   padding-right: 20px;
   justify-content: flex-end;
}

.recipe_sheet_div {
   min-width: 65px;
   min-height: 65px;
   width: 65px;
   height: 65px;
   background: #d05a05;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.recipe_sheet_span {
   margin-left: 20px;
   font-size: 18px;
   color: white;
   font-weight: bold;
}

.recipe_container_div {
   margin-bottom: 20px;
}

.recipe_sheet_div img {
}

@media (max-width: 1199px) {
   .main-banner_container {
      flex-direction: column !important;
   }

   .main-ad_div {
      display: flex !important;
      margin-top: 20px;
      justify-content: space-between;
      max-width: 100% !important;
   }

   .main-ad_div a {
      flex-basis: 48%;
      max-width: 370px;
   }

   .main-second_banner {
      margin-top: 0;
   }
}

@media (max-width: 576px) {
   .main-ad_div {
      max-width: 370px !important;
      display: none !important;
   }
}

.ps-product_of_the_day {
   border-bottom: none !important;
}

.ps-product__thumbnail_img_div {
   /* min-height: 204px !important; */
}

.owl-nav .owl-next {
   float: right;
}

.prods_slider span {
   font-size: 20px;
   font-weight: bold;
}

.prods_slider del {
   font-size: 14px;
}

/* MAIN FINISH */

/* PRODUCT */

label.error {
   color: red;
   display: block;
   margin-top: 5px;
}

.lg-backdrop {
   z-index: 10040;
}

.lg-outer {
   z-index: 10050;
}
.rating_empty {
   margin-bottom: 0 !important;
   margin-left: 7px;
}
input.error,
textarea.error {
   border: 1px solid red;
   font-weight: 300;
   color: red;
}

.ps-product__rating {
   display: inline-flex !important;
   margin-top: 5px;
}
.product_title_new {
   font-size: 16px !important;
   color: #666666 !important;
}
.m-t-0 {
   margin-top: 0 !important;
}
.p-l-10 {
   padding-left: 10px !important;
}
.m-b-2 {
   margin-bottom: 2px !important;
}
.product_articule {
   float: right;
   margin-left: 30px;
}

.each_comment_div_pic,
.each_comment_div_info {
   display: table-cell;
   vertical-align: top;
}

.each_comment_div_info {
   padding-left: 10px;
}

.each_comment_div_info .br-widget {
   width: 80px;
   display: flex;
   justify-content: space-between;
}

.each_comment_div {
   margin: 10px 0;
}

.each_comment_div_info .ps-product__rating .br-wrapper a {
   font-size: 13px;
   color: #33c6a5;
}

.each_comment_div_info p {
   font-size: 15px;
}

.each_comment_div_pic {
   width: 55px;
   height: 55px;
}

.comment_pic {
   width: 55px;
   border-radius: 50%;
}

.ps-section--default {
   margin-top: 20px;
}

.ps-product .ps-product__thumbnail {
   min-height: 170px;
}

.total_cart_sum {
   color: #4d4dbf !important;
}

.similar_product1 {
   max-width: 210px !important;
}

.similar_product1:hover .ps-product__content {
   visibility: visible !important;
   opacity: 1 !important;
   height: auto !important;
}

.similar_product1:hover .ps-product__content.hover {
   visibility: hidden !important;
   opacity: 0 !important;
}

.similar_product1:hover.ps-product--inner {
   border: none;
}

.similar_product1:hover.ps-product--inner .ps-product__content {
   display: block;
   visibility: visible;
   opacity: 1;
}

@media (min-width: 1200px) {
   .ps-product .ps-product__thumbnail img {
      min-width: 150px;
   }
}

@media (max-width: 991px) {
   #ps_rating_form {
      margin: 15px 0;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
   .similar_prods_empty {
      margin: -15px 0 0 20px;
   }
}

@media (max-width: 767px) {
   .similar_prods_empty {
      margin-left: 0;
   }
}

/* PRODUCT FINISHED */

/* PRODUCTS BY CATEGORY */

.header__sort {
   justify-content: center !important;
}

.header-logo_img {
   max-width: 251px;
   max-height: 40px;
}

#loading {
   position: fixed;
   z-index: 99999;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.05);
   transition: 1s 0.4s;
}

.header_class_sort {
   z-index: 0;
}

.spinner-border {
   position: fixed;
   top: 50%;
   left: 50%;
   height: 50px;
   width: 50px;
   color: black;
}

.sort_by_price,
.sort_by_price_mobile,
.srch_res_sort_by_price,
.sales_res_sort_by_price {
   padding: 10px;
   background: #18a1a1;
   border: 0;
   font-size: 16px;
   font-weight: bold;
   margin-top: 30px;
   box-shadow: none !important;
   display: flex;
   justify-content: center;
   width: 100%;
}

.sort_by_price:hover,
.sort_by_price_mobile:hover,
.srch_res_sort_by_price:hover,
.sales_res_sort_by_price:hover {
   background: #18a1a1;
   border: 0;
   outline: none;
}

.sort_by_price:focus,
.sort_by_price_mobile:focus,
.srch_res_sort_by_price:focus,
.sales_res_sort_by_price:focus {
   background: #18a1a1;
   border: 0;
   outline: none;
}

.widget_shop_price_sort {
   padding-top: 0;
   padding-bottom: 0;
}

.ps-list--dot li {
   margin-bottom: 0 !important;
   list-style: none;
}

.nobull {
   list-style-type: none;
}

.product_info_long {
   color: black !important;
   font-size: 18px !important;
   font-weight: 600;
}

.slider__value_min {
   color: #333;
   font-weight: bold;
   float: left;
   margin-left: -10px !important;
}

.slider__value_max {
   color: #333;
   font-weight: bold;
   float: right;
   margin-right: -5px !important;
}

.slider__value_min .ps-slider__min,
.slider__value_min .ps-slider__min_mobile {
   margin-right: 0 !important;
}

.slider__value_max .ps-slider__max,
.slider__value_max .ps-slider__max_mobile {
   margin-right: 0 !important;
}

.ps-slider__meta {
   margin-top: 5px;
}

.category_page_header {
   margin-bottom: 0 !important;
}

#product_list {
   margin-top: 0;
}

.category_ad_slider {
   margin-bottom: 30px;
}

/* PRODUCTS BY CATEGORY FINISHED */

@media screen and (max-width: 1199px) {
   .ps-home-banner .container .ps-section__right {
      display: none;
   }

   .ps-home-banner .container .ps-section__left {
      max-width: 100% !important;
      width: 100% !important;
      padding-right: 0 !important;
   }
}

/* RECIPE */

@media (max-width: 575px) {
   .send_recipe_btn {
      height: 40px !important;
      font-size: 13px !important;
      margin-right: 15px;
   }
}

@media (min-width: 480px) {
   .k-upload-files {
      max-width: 360px;
   }
}

@media (min-width: 410px) and (max-width: 480px) {
   .k-upload-files {
      max-width: 280px;
   }
}

@media (max-width: 867px) {
   .recipe_phone_div {
      padding: 45px 5px !important;
      text-align: center;
   }

   .recipe_phone_div_inp {
      width: 100% !important;
   }

   .recipe_phone_number {
      width: 100%;
   }

   .recipe_phone_div_button_send_sms {
      width: 60% !important;
      font-size: 18px !important;
      margin-top: 20px !important;
      padding: 8px !important;
   }

   .recipe_phone_div_inp span {
      padding: 6.5px 10px !important;
      font-size: 13px;
      left: 0 !important;
      bottom: 0 !important;
   }

   .recipe_successful_div > p {
      font-size: 18px;
   }
}

@media (min-width: 868px) and (max-width: 1100px) {
   #recipe_phone_div_phone_number {
      text-align: center;
   }

   .recipe_phone_div_inp {
      width: 32vw;
   }

   .recipe_phone_div_inp span {
      position: absolute;
      left: 0;
      bottom: 0px;
      background: #e3e3e3;
      padding: 8px 12px 9px;
      border-radius: 7px;
   }
}

@media (max-width: 418px) {
   .recipe_phone_div_inp input {
      width: 100% !important;
   }
}

@media (max-width: 410px) {
   .k-upload-files {
      max-width: 215px;
   }
}

/* RECIPE */

/* RECIPE */

.recipe_error_msg {
   display: none;
   color: red;
   width: 80%;
   font-size: 12px;
   text-align: end;
   padding: 10px 0;
}

.recipe_error_msg_code {
   display: none;
   font-size: 12px;
}

.recipe_error_msg_code p {
   color: red;
}

.recipe_main_div {
   display: flex;
   justify-content: center;
}

.recipe_header {
   margin-bottom: 20px;
}

.recipe_div {
   border-radius: 7px;
   box-shadow: 0 2px 3px 0 rgba(108, 108, 108, 0.17);
   padding: 40px 30px;
   margin: 50px;
   border: 1px solid #e3dede;
}

.selected_files ul {
   border-color: rgba(0, 0, 0, 0.08);
   margin: 0;
   padding: 0;
   border-style: solid;
   list-style: none;
}

.selected_files ul li {
   padding: 8px 12px;
   border-width: 2px 1px 1px;
   border-style: solid;
   border-color: inherit;
   outline: 0;
   display: flex;
   align-items: center;
   position: relative;
   margin-top: 5px;
}

.selected_files_upload_icon {
   margin: 1px 0;
   width: 24px;
   height: 34px;
   border-width: 2px;
   border-style: solid;
   font-size: 7.98px;
   text-transform: uppercase;
   box-sizing: content-box;
   position: absolute;
   top: 8px;
   color: #bababa;
   border-color: #bababa;
   border-top-right-radius: 15px;
}

.selected_files_file_type {
   margin-left: 0.2em;
   margin-bottom: 0.3em;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 100%;
   left: 0;
   position: absolute;
   bottom: 0;
   line-height: normal;
   color: #bababa;
   font-size: 7.98px;
   text-transform: uppercase;
}

.selected_files_name_wrapper {
   margin-left: calc(24px + 1em);
   margin-right: calc(32px + 3.5em);
   min-height: 38px;
   display: block;
   overflow: hidden;
   width: 100%;
}

.selected_files_name {
   color: #37b400;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   position: relative;
   display: block;
}

.selected_files_size {
   font-size: 9.432px;
   display: block;
   color: #bababa;
}

.cancel_btn_wrapper {
   position: absolute;
   right: 12px;
   top: 8px;
   font-weight: 500;
   color: #656565;
}

.cancel_btn {
   padding: 0;
   border-radius: 50%;
   margin-left: 12px;
   border-width: 0;
   color: inherit;
   background: 0 0;
   box-shadow: none;
   opacity: 0.6;
   box-sizing: border-box;
   border-style: solid;
   font-size: 14px;
   line-height: 1.4285714286;
   font-family: inherit;
   text-align: center;
   text-decoration: none;
   white-space: nowrap;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;
   outline: 0;
   -webkit-appearance: none;
   position: relative;
}

.recipe_social_div {
   padding: 5px 10px;
   border: 1px solid #d7d7d7d9;
   border-radius: 7px;
   display: flex;
   align-items: center;
}

.recipe_social_main_div {
   margin-top: 20px;
}

.recipe_social_main_div_each {
   padding-right: 5px;
}

.recipe_social_div div p {
   margin-bottom: 0;
}

.recipe_social_div img {
   width: 45px;
   height: 45px;
   margin-right: 12px;
}

button {
   border-radius: 2px;
   padding: 4px 8px;
   box-sizing: border-box;
   border-width: 1px;
   border-style: solid;
   font-size: 14px;
   line-height: 1.4285714286;
}

.file_upload_div {
   margin: 20px 0 40px;
}

.file_upload_div_div {
   padding: 8px;
   border-width: 0;
   display: flex;
   align-items: center;
   position: relative;
   border-color: rgba(0, 0, 0, 0.08);
   color: #656565;
   background-color: #f6f6f6;
}

.send_recipe_btn {
   height: 46px;
   color: #fff;
   background-color: #1ebebe;
   border-color: #1ebebe;
   display: inline-block;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   border: 1px solid transparent;
   /* padding: 0.6rem 1rem; */
   font-size: 1.5rem;
   line-height: 1.5;
   border-radius: 7px;
   -webkit-transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
}

.recipe_phone_div {
   padding: 45px 140px;
   /* border: 1px solid #e3dede; */
   /* box-shadow: 0 2px 3px 0 rgba(108, 108, 108, 0.17); */
   border-radius: 7px;
   margin: 30px 0;
}

#recipe_phone_div_phone_number {
}

#recipe_div_phone {
   display: none;
}

#recipe_phone_div_phone_code {
   display: none;
}

#recipe_successful {
   display: none;
}

#recipe_phone_div_phone_code {
   text-align: center;
}

#recipe_phone_div_phone_code > h5 {
   margin: 15px 0;
}

.recipe_phone_div_button_confirm_sms {
   width: 50%;
   margin-top: 10px;
   padding: 15px 0;
   border-radius: 7px;
   color: white;
   background: #1ebebe;
   font-weight: bold;
   border-color: transparent;
}

#recipe_phone_div_phone_code > .recipe_phone_div_inp {
   width: 25vw;
}

.owl-nav {
   display: block !important;
}

#recipe_phone_div_phone_code > .recipe_phone_div_inp > .recipe_phone_code {
   width: 90%;
   padding-left: 10px;
   padding-bottom: 6px;
}

.recipe_phone_div_inp {
   position: relative;
   width: 25vw;
}

.recipe_phone_div_button_send_sms {
   width: 100%;
   height: 48px;
   margin-top: 10px;
   padding: 8px;
   font-size: 18px;
   border-radius: 7px;
   color: white;
   background: #1ebebe;
   font-weight: bold;
   border-color: transparent;
}

.recipe_phone_div_inp input {
   border: 1px solid #e3dede;
   border-radius: 7px;
   height: 38px;
   width: 100%;
   padding-left: 80px;
}

.recipe_phone_div_inp input:focus {
   outline: none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
}

.recipe_phone_div_inp input {
   outline: none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
}

.resend_code {
   color: #73c7c4;
   border-bottom: 1px solid #73c7c4;
   cursor: pointer;
}

.recipe_phone_div_inp span {
   position: absolute;
   left: 0px;
   background: #e3e3e3;
   padding: 12px;
   border-radius: 7px;
   display: flex;
   height: 50px;
   align-items: center;
}

.recipe_phone_back_btn_div {
   text-align: center;
   margin: 45px 0 15px;
}

.recipe_phone_back_btn {
   padding: 8px 15px;
   line-height: 1.5;
   border-radius: 7px;
   background: #1ebebe;
   color: #ffffff;
   border-color: transparent;
}

.recipe_successful_div {
   text-align: center;
}

.recipe_successful_div > img {
   width: 110px;
}

.recipe_successful_div > p {
   font-size: 23px;
   font-weight: bold;
}

@media (max-width: 767px) {
   .recipe_social_main_div_each:last-of-type {
      margin-top: 10px;
   }
}

@media (max-width: 575px) {
   .recipe_social_main_div_each {
      margin-top: 10px;
   }

   .send_recipe_btn_div {
      height: 40px;
      margin-top: 10px;
      text-align: right;
      padding-right: 0;
   }
}

@media (max-width: 575px) and (min-width: 420px) {
   .recipe_social_main_div {
      justify-content: center;
   }
}

@media (max-width: 991px) and (min-width: 481px) {
   .recipe_sheet_each_div:nth-child(2) {
      min-width: 50%;
      padding-left: 40px;
   }
}

@media (max-width: 576px) and (min-width: 481px) {
   .recipe_sheet_each_div:nth-child(2) {
      padding-left: 27px;
   }
}

@media (max-width: 767px) and (min-width: 481px) {
   .recipe_sheet_span {
      font-size: 16px;
   }
}

@media (max-width: 480px) {
   .recipe_sheet_each_div:nth-child(1),
   .recipe_sheet_each_div:nth-child(3) {
      display: none;
   }
}

@media (min-width: 460px) and (max-width: 480px) {
   .recipe_sheet_each_div {
      padding-left: 77px;
      padding-right: 77px;
   }
}

@media (min-width: 440px) and (max-width: 459px) {
   .recipe_sheet_each_div {
      padding-left: 67px;
      padding-right: 67px;
   }
}

@media (min-width: 420px) and (max-width: 439px) {
   .recipe_sheet_each_div {
      padding-left: 57px;
      padding-right: 57px;
   }
}

@media (min-width: 400px) and (max-width: 419px) {
   .recipe_sheet_each_div {
      padding-left: 47px;
      padding-right: 47px;
   }
}

@media (min-width: 381px) and (max-width: 399px) {
   .recipe_sheet_each_div {
      padding-left: 37px;
      padding-right: 37px;
   }
}

@media (min-width: 320px) and (max-width: 380px) {
   .recipe_sheet_each_div {
      padding-left: 27px;
      padding-right: 27px;
   }
}

/* RECIPE ENDS HERE */

/* PRODUCT CATEGORY LIST */

.category-products_breadcrumb {
   padding-left: 0;
}

.product_long_format_price {
   display: flex;
   flex-direction: column-reverse;
}

.product_long_format_price span {
   font-size: 22px;
   font-weight: bold;
}

.product_long_format_price del {
   color: #f47c7c;
   font-size: 15px;
   font-weight: bold;
}

.product_long_format_price span span {
   font-weight: normal;
}

.ps-breadcrumb {
   padding: 10px 0;
}

.ps-breadcrumb .breadcrumb li {
   font-size: 12px;
   color: #333 !important;
}

/* PRODUCT CATEGORY LIST ENDS HERE */

/* SEARCH PAGE */

.srch_sort_pr_aside {
   padding-top: 10px;
}

.srch_sort_pr_figure {
   margin-top: 0 !important;
}

.product_add_notification_div {
   background: #18a1a1;
   border-radius: 7px;
   align-items: center;
   position: fixed;
   z-index: 100000;
   top: 40%;
   right: calc((100% - 600px) / 2);
   height: 80px;
   width: 600px !important;
}

.product_add_notification_div i {
   color: white;
   margin: 0 30px;
   font-size: 38px;
}

.product_add_notification_div span {
   color: white;
   font-size: 16px;
}

@media (max-width: 629px) {
   .prod_add_notification_text {
      display: none;
   }

   .product_add_notification_div {
      right: calc((100% - 93px) / 2);
      width: 93px !important;
   }
}

/* SEARCH PAGE END HERE */

/* INFO PAGES STARTS HERE  */
#text-page {
   margin-top: 0 !important;
}

.info-pages-row {
   padding: 30px 40px;
   background: #fff;
}

#text-page .text-page-text p {
   text-indent: 0 !important;
}

/* FOOTER */
.footer_social_logos_div a {
   font-size: 15px;
   color: rgba(72, 57, 195, 1);
}

.footer_cart_tot_span {
   background: #4a4ac3;
   display: flex !important;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: -5px;
   right: 0;
   border-radius: 50%;
   width: 19px;
   height: 18px;
}

#total_count_in_cart_footer {
   font-size: 11px;
   color: #fff;
}

@media (min-width: 992px) {
   .ps-block--site-features.ps-block--site-features-2 .ps-block__item {
      max-width: 33%;
   }
}

@media (max-width: 576px) {
   .ps-block--site-features.ps-block--site-features-2 .ps-block__item {
      max-width: 100%;
   }
}

.ps-footer {
   background: #f4f5f5;
   padding-bottom: 20px;
}

.widget_contact-us {
   text-align: right;
   margin-left: 100px;
}

.widget_contact-us .widget_content h3 {
   color: black !important;
   margin-bottom: -3px !important;
}

.widget_contact-us .widget_content p {
   color: #4a4a4d;
   font-size: 15px;
}

.footer-first-p {
   margin-bottom: 2rem !important;
}

.footer_h {
   line-height: 2.2;
}

.footer_h2 {
   line-height: 1.4;
}

.product_about {
   max-height: 250px;
   overflow: hidden;
   position: relative;
}

.product_about::before {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   bottom: 0px;
   background: linear-gradient(rgba(0, 0, 0, 0) 230px, #fff);
}

.without_before_element:before {
   content: none;
}

.product_more {
   color: #0073bf !important;
   font-size: 16px;
   line-height: 17px;
   margin-right: 20px;
   margin-top: 10px;
   display: inline-block;
   position: relative;
   cursor: pointer;
   z-index: 2;
}

#count_input {
   padding: 0 28px 0 28px !important;
   border-radius: 5px;
}

.pr_side_icons {
   width: 32px;
   height: 32px;
   margin-right: 20px;
}

.widget_pr_div {
   display: flex;
   align-items: center;
   font-weight: 700;
   margin-bottom: 12px;
   font-size: 14px;
}

.widget_pr_p {
   padding-left: 0 !important;
   margin-bottom: 7px !important;
}

.widget_pr_div2 {
   margin-top: 30px;
}

.widget_page_right {
   min-width: 301px !important;
   max-width: 301px !important;
}

.widget_product {
   padding: 30px 20px !important;
}

.ps-footer__widgets,
.ps-footer__copyright {
   padding: 0 30px 0 50px;
}

.ps-list--link li a {
   color: #4a4a4d;
   font-size: 15px;
}

.cp-footer-p {
   color: #4a4a4d;
   font-size: 15px;
}

.cp-footer-right {
   text-align: right;
}

.cp-footer-social {
   text-align: center;
}

.ps-footer__copyright {
   padding-top: 0;
   border-top: none;
}

@media (max-width: 1199px) {
   .ps-footer {
      padding-bottom: 90px;
   }
}

@media (max-width: 991px) {
   .widget_contact-us {
      margin-left: 0;
   }

   .ps-footer__widgets,
   .ps-footer__copyright {
      padding: 0;
   }
}

@media (max-width: 550px) and (min-width: 480px) {
   .widget_footer {
      max-width: 33%;
   }
}

@media (max-width: 479px) {
   .cp-footer-p {
      text-align: right;
   }

   .cp-footer-social {
      width: 100%;
      text-align: right;
   }

   .widget_contact-us {
      flex-basis: 100%;
   }

   .widget_footer2 {
      text-align: right;
   }

   .product_about {
      max-height: 250px;
   }
}

/* FOOTER ENDS HERE */

/* SHOPPING CART */

.form-group--number button {
   top: 45%;
}

.ps-section--shopping .ps-section__header {
   text-align: left;
   padding-bottom: 0;
}

.ps-section--shopping {
   padding: 0 !important;
}

.ps-shopping-cart .ps-section__header h3 {
   font-size: 28px;
   font-weight: 600;
   padding: 30px 0;
}

/* USER ORDER RECEIPT STARTS HERE */
.user_order_item_span2 {
   margin-left: 85px;
   float: right;
   font-weight: bold;
}

@media (max-width: 484px) and (min-width: 426px) {
   .user_order_item_span2 {
      margin-left: 30px;
   }
}

@media (max-width: 425px) {
   .user_order_item_span2 {
      margin-left: 5px;
   }
}

/* SHOPPING CART ENDS HERE */

.review_count_bold {
   margin-left: 5px;
}

.ps-cart--mobile .ps-cart__footer {
   padding: 24px 20px !important;
}

.cart_sum_h {
   margin-bottom: 24px;
}

@media (min-width: 1200px) {
   .cart_sum_h {
      margin: 24px 0 !important;
   }
}

/* CHECKOUT */

.go_to_main_btn {
   background: orange;
   border-color: orange;
   font-size: 14px;
   padding: 5px 15px;
}

.go_to_main_btn:hover {
   background: orange;
   border-color: orange;
}

.go_to_main_btn:focus {
   background: orange;
   border-color: orange;
}

#confirm_div {
   padding: 50px;
   margin: 10px 0 20px;
   /* border: 1px solid #c4c1c163; */
   border-radius: 5px;
   text-align: center;
}

.order_numb_div {
   border: 1px solid #959695;
   width: max-content;
   margin: 0 auto;
   padding: 5px 10px 8px;
   display: flex;
   align-items: center;
}

#confirm_div .recipe_phone_div_inp {
   margin: 0 auto;
}

#confirm_div > h5 {
   margin: 15px 0;
}

#confirm_div > .recipe_phone_div_inp {
   width: 25vw;
}

#confirm_div > .recipe_phone_div_inp > .recipe_phone_code {
   width: 90%;
   padding-left: 10px;
   padding-bottom: 6px;
}

#confirmCartModal {
   padding-right: 0;
}

#confirm_inp {
   margin: 10px auto;
   border: 1px solid #c4c1c163;
   border-radius: 5px;
   height: 30px;
}

@media (max-width: 1199px) {
   #confirmCartModal > div {
      margin-top: 80px;
   }
}

@media (min-width: 1500px) {
   #confirm_div > .recipe_phone_div_inp {
      width: 380px;
   }
}

/* CHECKOUT ENDS HERE */

/* BLOG */

.ps-list--blog-links li a {
   cursor: pointer;
}

/* BLOG ENDS HERE */
